/*

Style sheet for thema-new

*/

.red {
  color: #C1394E;
}

.green {
  color: #39C150;
}

.blue {
  color: #0288D1;
}

.db {
  display: block;
}

.di {
  display: block;
}

.dib {
  display: inline-block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ma {
  margin: auto;
}

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}

.m0 {
  margin: 0px;
}

.mt0 {
  margin-top: 0px;
}

.mb0 {
  margin-bottom: 0px;
}

.ml0 {
  margin-left: 0px;
}

.mr0 {
  margin-right: 0px;
}

.m\- {
  margin: 10px;
}

.mt\- {
  margin-top: 10px;
}

.mb\- {
  margin-bottom: 10px;
}

.ml\- {
  margin-left: 10px;
}

.mr\- {
  margin-right: 10px;
}

.m {
  margin: 20px;
}

.mt {
  margin-top: 20px;
}

.mb {
  margin-bottom: 20px;
}

.ml {
  margin-left: 20px;
}

.mr {
  margin-right: 20px;
}

.m\+ {
  margin: 40px;
}

.mt\+ {
  margin-top: 40px;
}

.mb\+ {
  margin-bottom: 40px;
}

.ml\+ {
  margin-left: 40px;
}

.mr\+ {
  margin-right: 40px;
}

.p0 {
  padding: 0px;
}

.pt0 {
  padding-top: 0px;
}

.pb0 {
  padding-bottom: 0px;
}

.pl0 {
  padding-left: 0px;
}

.pr0 {
  padding-right: 0px;
}

.p\- {
  padding: 10px;
}

.pt\- {
  padding-top: 10px;
}

.pb\- {
  padding-bottom: 10px;
}

.pl\- {
  padding-left: 10px;
}

.pr\- {
  padding-right: 10px;
}

.p {
  padding: 20px;
}

.pt {
  padding-top: 20px;
}

.pb {
  padding-bottom: 20px;
}

.pl {
  padding-left: 20px;
}

.pr {
  padding-right: 20px;
}

.p\+ {
  padding: 40px;
}

.pt\+ {
  padding-top: 40px;
}

.pb\+ {
  padding-bottom: 40px;
}

.pl\+ {
  padding-left: 40px;
}

.pr\+ {
  padding-right: 40px;
}

.max-width {
  max-width: 100%;
}

body {
  font-family: 'Century Gothic', 'Muli', sans-serif;
}

.glyphicon {
  font-size: 50px;
  background: #eee;
  padding: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.nav-main {
  border-bottom: solid 1px #C1394E;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(10px);
}

.nav-main a {
  color: #C1394E;
}

.nav-main .current-menu-item a {
  color: #fff;
  background: rgba(235, 3, 53, 0.8);
}

.circles {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 50px auto 0;
}

.circles p {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -30px;
  width: 600px;
  text-align: center;
  font-size: 2em;
}

.circles .innover {
  position: absolute;
  left: 0;
  top: 0;
}

.circles .developper {
  position: absolute;
  right: 0;
  top: 0;
}

.circles .valoriser {
  position: absolute;
  right: 40px;
  bottom: 0;
}

.logo {
  max-width: 100%;
}

.blog-posts {
  padding-bottom: 30px;
  border-bottom: solid 1px #C1394E;
}

.blog-posts__image {
  height: 200px;
  width: 100%;
  border: solid 1px #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.homepage__section {
  min-height: 630px;
}

.homepage h3 {
  line-height: 1.5;
  margin-bottom: 40px;
}

.homepage p {
  line-height: 2;
}

.homepage aside {
  margin-top: 40px;
  font-weight: bold;
  background: #eee;
  padding: 20px;
}

.homepage aside p {
  font-size: 20px;
  line-height: 1.2;
}

.homepage aside .glyphicon {
  float: left;
  color: #000;
  margin-left: 10px;
  margin-right: 30px;
  padding: 10px;
  font-size: 20px;
  background: #fff;
}

.homepage aside ul {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
}

.section {
  position: relative;
  min-height: 800px;
  max-width: 1800px;
}

.section--main .bcg {
  background-image: url("../images/main-bg.jpg");
}

.section--references .bcg {
  background-image: url("../images/reference-bg.jpg");
}

.section--innovation .bcg {
  background-image: url("../images/innovation-bg.jpg");
}

.section--creation .bcg {
  background-image: url("../images/creation-bg.jpg");
}

.section--marketing .bcg {
  background-image: url("../images/marketing-bg.jpg");
}

.section--strategie .bcg {
  background-image: url("../images/strategie-bg.jpg");
}

.section--relations .bcg {
  background-image: url("../images/relations-public-bg.jpg");
}

.section--concours .bcg {
  background-image: url("../images/concours-bg.jpg");
}

.section--equipe {
  min-height: 400px !important;
}

.section--equipe .hsContent {
  height: 400px !important;
}

.section--equipe .section__text {
  top: 150px;
}

.section--equipe .bcg {
  background-image: url("../images/equipe-bg.jpg");
  min-height: 400px !important;
}

.section__text {
  background: rgba(235, 3, 53, 0.8);
  -webkit-backdrop-filter: blur(10px) saturate(100%);
  color: #fff;
  padding: 50px;
  text-transform: uppercase;
  width: 360px;
  position: absolute;
  right: 130px;
  top: 200px;
}

.section__text--contact {
  top: 70px;
}

.section__logos {
  background: rgba(255, 255, 255, 0.8);
  background: #fff;
  -webkit-backdrop-filter: blur(10px) saturate(100%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: solid 4px #C1394E;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section img {
  background: #fff;
  padding: 10px;
}

.section .logo {
  background: transparent;
  padding: 0;
}

.section .hsContent {
  display: table-cell;
  vertical-align: middle;
  padding: 0 8%;
  text-align: center;
  height: 800px;
}

.section .bcg {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 800px;
}

.equipe {
  margin-top: 50px;
}

.equipe__wrap {
  position: relative;
  width: 200px;
  margin: 0 auto 30px;
}

.equipe__wrap img {
  margin: auto;
  width: inherit;
}

.equipe__text {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(10px) saturate(100%);
}

.equipe__text h2 {
  margin-top: 0;
}

/* Print styles!
-------------------------------------------------------------------------------*/

/*# sourceMappingURL=style.css.map */