body {
	font-family: 'Century Gothic', 'Muli', sans-serif;
}

.glyphicon {
	font-size: 50px;
	background: #eee;
	padding: 40px;
	border-radius: 50%;
}
.nav-main {
	border-bottom: solid 1px $red;
	background: rgba(255, 255, 255, .9);
	-webkit-backdrop-filter: blur(10px);
	a {
		color: $red;
	}
	.current-menu-item {
		a {
			color: #fff;
			background: rgba(235, 3, 53, 0.8);
		}
	}
}

.circles {
	position: relative;
	width: 600px;
	height: 600px;
	margin: 50px auto 0;
	p {
		position: absolute;
		left: 20px;
		top: 50%;
		margin-top: -30px;
		width: 600px;
		text-align: center;
		font-size: 2em;
	}
	.innover {
		position: absolute;
		left: 0;
		top: 0;
	}
	.developper {
		position: absolute;
		right: 0;
		top: 0;
	}
	.valoriser {
		position: absolute;
		right: 40px;
		bottom: 0;
	}
}


.logo {
	max-width: 100%;
}

.blog-posts {
	padding-bottom: 30px;
	border-bottom: solid 1px $red;
	&__image {
		height: 200px;
		width: 100%;
		border: solid 1px #eee;
		display: flex;
		align-items: center;
		 justify-content: center;
		img {

		}
	}

}

.homepage {
	&__section {
		min-height: 630px;
	}
	h3 {
		line-height: 1.5;
		margin-bottom: 40px;
	}
	p {
		line-height: 2;
	}
	aside {
		margin-top: 40px;
		font-weight: bold;
		background: #eee;
		padding: 20px;
		p {
			font-size: 20px;
			line-height: 1.2;
		}
		.glyphicon {
			float: left;	
			color: #000;
			margin-left: 10px;
			margin-right: 30px;
			padding: 10px;
			font-size: 20px;
			background: #fff;
		}
		ul {
			position: relative;
			margin-left: 60px;
			margin-right: 30px;
		}
	}
}